@page "/not-found"
@using System.Globalization
@using CalendarView.Shared.Models
@using CalendarView.Shared.Resources
@inject Design Design

<PageTitle>@Translations.ResourceManager.GetString(nameof(Translations.NotFound), CurrentCulture)</PageTitle>

<div style="height: 100vh">
	<h1 style="color: @Design.ForeColorName">@Translations.ResourceManager.GetString(nameof(Translations.ThePageStyleYouWantedToUseCouldNotBeFound), CurrentCulture)</h1>
</div>

@code {
	private CultureInfo CurrentCulture => new(Design.Language);
}