@using CalendarView.Services
@using CalendarView.Shared.Models
@using static CalendarView.Shared.Utils.CommonFunctions
@inject PictureService PictureService

<style>
	.background-image {
		background-image:
		@(DifferentiatedDesign?.CustomBackgroundImageOverlay ?? "radial-gradient(circle at center, rgba(0, 0, 0, 0.7) 40%, rgba(0, 0, 0, 0.8) 100%)"), url('@CurrentPictureUrl');
		background-blend-mode: multiply;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}

	.background-video {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
		z-index: 0;
	}
</style>

<div class="@(ShowBackgroundImage ? "background-image" : "")" style="margin: 0px; padding: 0px; height: 100vh; width: 100%;">
	@if (IsVideo(CurrentPictureUrl))
	{
		<video class="background-video" autoplay muted loop playsinline>
			<source src="@CurrentPictureUrl" />
		</video>
	}

	<div style="margin: 0; padding: 0; z-index: 1; height: 100vh; width: 100%; backdrop-filter: blur(@(DifferentiatedDesign?.CustomBackgroundImageBlur ?? "10px"));">
		@ChildContent
	</div>
</div>

@code {
	[Parameter] public RenderFragment? ChildContent { get; set; }

	[Parameter] public bool ShowBackgroundImage { get; set; }

	[Parameter] public DifferentiatedDesign? DifferentiatedDesign { get; set; }

	private string CurrentPictureUrl => PictureService.CurrentPictureUrl ?? string.Empty;

	protected override Task OnInitializedAsync()
	{
		PictureService.ItemHasChanged += async (_, _) =>
		{
			if (ShowBackgroundImage) await InvokeAsync(StateHasChanged);
		};
		return Task.CompletedTask;
	}

}