
<div style="text-align: left; padding: 2px; @(Style ?? string.Empty)">
	<a style="text-align: left; font-size: 22px; font-weight: 600;">
		@(Title ?? string.Empty)
	</a>
	<br>
	<a style="text-align: left; font-size: 17px; font-weight: 500;">
		@(Text ?? string.Empty)
	</a>
	<br>
	<a style="text-align: left; font-size: 12px;">
		@(AdditionalInfo ?? string.Empty)
	</a>
</div>

@code {
	[Parameter] public string? Style { get; set; }

	[Parameter] public string? Title { get; set; }

	[Parameter] public string? Text { get; set; }

	[Parameter] public string? AdditionalInfo { get; set; }
}
